<section id="footer" class="section">
    <section class="container {{ grid_size }}">
        <p>
            © {{ "now"|date('Y') }} FSI Skandinavistik.
        </p>
    </section>
</section>
