<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        {% include 'partials/langswitcher-combobox.html.twig' %}
        {# {% include 'partials/langswitcher.html.twig' %} #}
        <p>
            © {{ "now"|date('Y') }} FSI Skandinavistik.
        </p>
    </section>
</section>
