body {
    background-color: $body-color;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    background-image: url(../images/bg/sleipnir-outline.svg);
}

#bottom-content-container {
    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap;

    .bottom-content-block {
        :first-child {
            margin-top: 0;
        }

        :last-child {
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }
    }

    .card {
        background: $bg-color;
        padding: 0.8rem 0.8rem;
        border-color: $bg-color;

        // > * {
        //     margin: 0;
        // }
    }
}

#bottom-content {
    margin-bottom: 0.8rem;
}