body {
    background-color: $body-color;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    // background-image: url(https://skandinavistik.fsi.fau.de/outleipnir.svg);
    background-image: url(../images/bg/sleipnir-outline.svg);
}