body {
    background-color: $body-color;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    background-image: url(../images/bg/sleipnir-outline.svg);
}

#bottom-content-container {
    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap;

    .bottom-content-block {
        // flex-shrink: 1;
        // flex-basis: content;
    }

    // .bottom-content-block:not(:last-child):not(:only-child) {
    //     margin-right: 0.8rem;
    // }

    .card {
        background: $bg-color;
        padding: 0.8rem 0.8rem;
        border-color: $bg-color;

        > * {
            margin: 0;
        }
    }
}