#header {
  width: 100%;
  height: $header-height-large;
  min-height: $header-height-small;
  border-bottom: $border-color solid 1px;
  @extend .default-animation;

  font-size: 0.7rem;
  font-weight: 700;

  background: $body-color;
  color: $light-color;

  a {
    color: $light-color;
  }

  .logo svg path {
    fill: $header-color-dark;
  }

  // .header-dark &:not(.scrolled) {
  //   background: $header-color-dark;
  //   color: $light-color;
  //   a {
  //     color: $light-color !important;
  //   }
  //   a.active {
  //     color: $primary-color !important;
  //   }
  //   .dropmenu ul ul a {
  //       color: $dark-color !important;
  //   }
  //   .logo svg path {
  //     fill: $light-color;
  //   }
  // }

  .header-dark.header-transparent &:not(.scrolled) {
    background: rgba(#000, 0.05);
  }

  .header-transparent &:not(.scrolled) {
    background: rgba(#fff, 0.05);
    //border-bottom: 0 !important;
  }

  .navbar-section {
    height: $header-height-large;
    @extend .default-animation;

    @include breakpoint(md) {
      margin-right: 2rem;
    }
  }

  .navbar-section.desktop-menu {
    @include breakpoint(md) {
      display: none;
    }
  }

  .logo {
    svg, img {
      height: 42px;
      display: inherit;
      @extend .default-animation;
    }
  }

  // Fixed Header solution
  .header-fixed & {
    position: fixed;
    top: 0;
    z-index: 2;
  }

  // remove padding to align header content with rest of the page
  .container {
    padding: 0;
  }
}

// Animate Fixed Header
body.header-fixed.header-animated {
  #header.scrolled {
    height: $header-height-small;

    .navbar-section {
      height: $header-height-small;
    }

    .logo {
      svg, img {
        height: 28px;
      }
    }

    ~ .mobile-menu .button_container {
      top: 0.5rem;
    }
  }
}

.login-status-wrapper {
  white-space: nowrap;
}
