{% block content %}

{{ content }}

{% for block in page.header.sidebar_content_blocks %}
    {% set counter = ( counter | default(0) ) + 1 %}

    <div id="sidebar-content-block-{{ counter }}" class="sidebar-content">
        {{ block.markdown|markdown }}
    </div>
{% endfor %}

{% endblock %}
